<h1>Welcome to WebConn</h1>


<p>I am a Progressive Web App (PWA) built with Angular and Firebase.</p>

<h2>About</h2>
<p>
  WebConn...A personalised blog creater site is meant for a perpose of connecting the thought of thousands brains
  and bringing their ideas under one roof.
  <br>
  An Angular framework based , Single Page Web-Application connected with non-SQL database Firebase helps us to access and save your data and information in the securest way.
  <br>
  For the best blogging experience...its always...
  <br>
</p>
<h2>
  <b>
  WebConn
  </b>
</h2>

